<h1>Categories#destroy</h1>
<p>Find fdfd me in app/views/categories/destroy.html.erb</p>
<p> Hello </p>

# Show categories
<% if @categories.exists? %>
<p> Hi </p>
	<% @categories.each do |category| %>
	<p> Category - id: <%= category.id %> name: <%= category.name %> </p>
	<% end %>
<% end %>